html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eff1f5;
  color: #4c4f69;
  font-family: Roboto, 'Trebuchet MS', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: #11111b;
  padding: 16px 32px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}

.site-logo {
  color: #cdd6f4;
  font-size: 28px;
  font-weight: bold;
  margin-right: 16px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link,
.hero-description {
  color: #a6adc8;
  font-size: 18px;
}

.link:hover {
  color: #bac2de;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181825;
  height: 450px;
  padding: 0 16px;
}

.hero-left {
  display: flex;
  flex: 0 1 500px;
  flex-direction: column;
  gap: 8px;
  padding-right: 32px;
}

.hero-title {
  line-height: 1;
  color: #cdd6f4;
  font-size: 48px;
  font-weight: 900;
}

.hero-description {
  color: #a6adc8;
}

.btn-signup {
  margin-right: auto;
  border: none;
  border-radius: 8px;
  background-color: #89b4fa;
  cursor: pointer;
  padding: 8px 24px;
  color: #11111b;
  font-size: 14px;
  font-weight: 700;
  &:hover {
    background-color: #89dceb;
  }
}

.hero-img {
  flex: 0 1 500px;
}

#gallery {
  margin-bottom: 72px;
  text-align: center;
}
.gallery-title {
  margin: 32px 0;
  font-size: 36px;
  font-weight: 700;
}

.gallery-items {
  display: flex;
  flex-flow: row wrap;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.gallery-item {
  max-width: 200px;
  text-align: center;

  img {
    margin-bottom: 8px;
    border: 4px solid #89b4fa;
    border-radius: 16px;
  }
}

#quote {
  background-color: #ccd0da;
  padding: 72px;
}

.quote-container {
  margin: 0 auto;
  max-width: 800px;
}

.quote-text {
  color: #5c5f77;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-author {
  margin-top: 16px;
  text-align: right;
  color: #4c4f69;
  font-size: 18px;
  font-weight: 700;
}
